#create-post-icons svg {
    height: 21px;
    width: 21px;
}

#input-text-post ::placeholder{
    color: #2f3ab2;
}

#create-post-icons button {
    background-color: rgb(245, 245, 245);
    border: none;
}

#create-post-icons button:hover {
    background-color: rgba(47, 58, 178, 0.199);
}

#create-post-icons button:hover svg {
    fill: #2f3ab2;
}

#text-content-post {
    margin: 1rem 3rem;
}