.CreateAccountButton {
  color: rgb(59, 73, 223);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  outline-color: rgb(59, 73, 223);
  border: 1px solid rgb(59, 73, 223);
  &:hover {
    background-color: rgba(59, 73, 223, 1);
    border-color: rgba(47, 58, 178, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
  }
}

.CreateAccountBtn {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
}

#btnapple {
  background-color: black;
}

#btnforem {
  background-color: #05313b;
}

#btnGithub {
  background-color: #070809;
}

#btnTwitter {
  background-color: #0a9af2;
}

#continue {
  background-color: #3845d3;
  margin-top: 10px;
}

#btnapple:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#btnforem:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#btnGithub:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#btnTwitter:hover {
  filter: brightness(90%);
  cursor: pointer;
}
